.idea/.gitignore
.idea/aws.xml
.idea/misc.xml
.idea/modules.xml
.idea/software-engineering-insights-and-notes.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
